<div class="d-flex justify-content-between align-items-start mt-4">
  <div class="d-flex flex-column justify-content-start">
    <h1><%= @blog_post.title %></h1>
    <%= @blog_post.content %>
  </div>
  <div class="d-flex justify-content-between align-items-center gap-3">
    <%= link_to "Edit", edit_blog_post_path(@blog_post), class:"btn btn-outline-secondary" %>
    <%= link_to "Delete", @blog_post, data: {turbo_confirm: 'Are you sure?', "turbo-method": :delete}, class:"btn btn-outline-danger" %>
  </div>
</div>